@model Myvshoponline.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGAResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGAResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Position1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Position1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex.Sex1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex.Sex1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
