@model Myvshoponline.Application

@{
    ViewBag.Title = "Market Square247 Application Portal";
    MyvshoponlineEntities db = new MyvshoponlineEntities();
    string DocumentNameCV = Model.ID + ".pdf";
    string DocumentNamePassport = Model.ID + ".jpg";
    string efilepathcv = Server.MapPath("~/ApplicantCV/" + "\\" + DocumentNameCV);
    string efilepathPassport = Server.MapPath("~/ApplicantPassports/" + "\\" + DocumentNamePassport);
    int PositionID = db.Positions.Select(s => s.ID).First();
    int ApplicationClosed = (int)db.Settings.Select(s => s.ApplicationClosed).First();
    var AptGuidelines =db.AptitudeTestGuidelines.Select(s => s.Description).FirstOrDefault();
    var OpenCBT = db.Settings.Select(s => s.OpenandCloseCBTTest).FirstOrDefault();
            }
            @using Myvshoponline.Controllers;

<link href="~/Content/Panel.css" rel="stylesheet" />
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color:#71BE50;opacity:0.9">
                        <h3 class="panel-title" style="color:white;font-family:Arial;opacity:0.9;font-size:16px">Market Square247 2019 Recruitment Exercise</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="aptitudeguidelines" style="display:none;">@Html.Raw(HttpUtility.HtmlDecode(AptGuidelines))</div>
                                <h4 style="font-size:14px;">
                                    APPLICATION FOR <span style="margin-left:20px;"> @Html.Raw(HttpUtility.HtmlDecode(db.Applications.Find(Request.QueryString["apx"]).Position.Position1.ToUpper()))</span>
                                </h4 >
                            </div >
                            <div class="col-md-6">
                                <h4 style = "font-size:14px;" >
                                    <span style="color:blue;"><i class="lni lni-user"></i> WELCOME, @db.Applications.Find(Request.QueryString["apx"]).Surname.ToUpper() @db.Applications.Find(Request.QueryString["apx"]).OtherNames.ToUpper() </span>
                                    <a href="~/Applications/Logoff" class="badge badge-primary" style="padding:7px"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                                </h4>
                            </div>
                        </div>
                        <div class="row" style="border:1px solid green;padding:3px;border-radius:20px;">
                           <div class="col-md-3">
                               @*<h1 style = "font-size:15px;padding-top:3px;" > Application Status:</h1>*@
                               <h1 style="font-size:17px;padding-top:3px;"> Aptitude Test Score:</h1>
                            </div>
                            <div class="col-md-6">

                                    @if (Model.ApplicationStatus == 0)
                                    {
                                        <h1 style = "font-size:15px;color:red" > Pending </h1 >
                                    }
                                    else if (Model.ApplicationStatus == 1)
                                    {
                                        <h1 style = "font-size:13px;color:blue" > Your application has been received.</h1>
                                    }
                                    else if (Model.ApplicationStatus == 2)
                                    {
                                        if (Model.AptitudeTestScore == null)
                                        {
                                            <h1 style="font-size:13px;" class="alert alert-danger">You did not participated in the CBT as scheduled!</h1>
                                        }
                                        else
                                        {
                                            var apt = Model.AptitudeTestScore / 2;
                                            <h1 style="font-size:20px;" class="badge badge-info">@apt </h1>
                                                /* Congratulations!You have been selected to participate in the Computer Based Test(CBT)Exams.*/
                                        }
                                    }
                                    


</div>
                        </div>

                    </div>

                    <div class="row" style="padding-left:10px;">
                        <div class="col-md-4">
                            <span style="color:black;">Following the aptitude test result, you did not meet up for the post you applied but there is yet another
                             opportunity to work with market square247 as an agent.
                            <br />
                            
                                <b> Here is the golden opportunity for you! </b>
                            <br />
                            As an agent, you have to refer or register customers using your referal code.<br />
                            Each customer you refer or register successfully you earn a commission of 5.00NGN.
                            <br><span style="font-weight:bold"> Customer registration is free, the more customers you register or refer the more money you earn.</span> 
                            <br /><br />
                            <h4 style="font-size:14px;color:brown">HOW TO WORK AS AN AGENT</h4>
                           &raquo; You <a href="~/Users/Create" target="_blank">SIGN UP</a> as a shop owner.
                            <br />
                           &raquo; Verify your email.
                            <br />
                           &raquo; Upon confirmation of your email, a referal code will be assigned to your account.
                            <br />
                                &raquo; Share your referal link on Facebook, Twitter and Whatsapp.
                                <br />


                    
                            </span>
                            @if(ApplicationClosed == 1)
                                    {

                            <a href = "#" class="btn btn-info" style="height:25px;padding:5px;font-size:11px;opacity:0.9;" title="Edit personal information" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();"> <i class="lni-pencil"></i>Edit Personal Information</a>

                            <hr style = "margin:5px;border:0px" />
                            <a href="#" onclick="Uploadpassport()" class="btn btn-info" style="height:25px;padding:5px;font-size:11px;opacity:0.9;width:205px;text-align:left;">
                                <i class="glyphicon glyphicon-picture"></i>UPLOAD Passport
                                @if(File.Exists(efilepathPassport))
                                {
                                    <span><img src="~/Images/success logo.png" style="width:11%;" /></span>
                                }
                                else
                                {
                                    <span><img src="~/Images/Error.gif" style="width:11%;" /></span>
                                }
                            </a>

                            <hr style = "margin:5px;border:0px" />
                            if (File.Exists(efilepathPassport))
                            {
                                <a href ="#" onclick="UploadCV()" class="btn btn-info" style="height:25px;padding:5px;font-size:11px;opacity:0.9;width:205px;text-align:left;">
                                    <i class="lni lni-write"></i> Curriculum Vitae
                                    @if(File.Exists(efilepathcv))
                                    {
                                        <span><img src="~/Images/success logo.png" style="width:11%;" /></span>
                                    }
                                    else
                                    {
                                        <span><img src="~/Images/Error.gif" style="width:10%;" /></span>
                                    }
                                </a>
                            }
                            else
                            {
                                <span class="btn btn-default" style="height:25px;padding:5px;font-size:12px;opacity:0.9;width:205px;text-align:left;background-color:#E8E8EC"><i class="lni lni-write"></i>CURRICULUM VITAE
                                   <img src="~/Images/Error.gif" style="width:10%;" />
                            </span>
                            }
                            }
                            @{
                                <hr style = "margin:5px;border:0px" />

                                if (File.Exists(efilepathcv) && File.Exists(efilepathPassport))
                                {
                                    <a href ="#" onclick="aptitudetest()" class="btn btn-info" style="height:25px;padding:5px;font-size:11px;opacity:0.9;width:205px;text-align:left;">
                                        <i class="glyphicon glyphicon-list"></i> Aptitude Test Guidelines
                                    </a>
                                    <hr style = "margin:5px;border:0px" />
                                    if (ApplicationClosed == 0)
                                    {
                                        if (OpenCBT == 1)
                                        {
                                    <a href ="http://cbt.marketsquare247.com//Home/MarketsquareLogin?cbtno=@Model.Email" target="_blank" class="btn btn-success" style="height:25px;padding:5px;font-size:11px;opacity:0.9;width:205px;text-align:left;">
                                        <i class="lni lni-pencil"></i> TAKE TEST
                                    </a>
                                        }
                                    }


                                    if (ApplicationClosed == 1)
                                    {
                                    <a href="~/Applications/UploadCredentials/?apx=@Request.QueryString["apx"]" class="btn btn-info" style="height:25px;padding:5px;font-size:11px;opacity:0.9;width:205px;text-align:left;">
                                        <i class="lni lni-printer"></i> Print Details
                                    </a>
                                    }
                                }
                            }
                        </div>
                        <div class="col-md-8">
                        @*<input type="button" value="Shoot!" onclick="webcam.capture();" />
                            <div id="Camera"></div>
                           
                                <script src="@Url.Content("~/Scripts/jquery.webcam.js")">
                                </script>
                                <script>
        $("#Camera").webcam({
             width: 320,
             height: 240,
             mode: "save",
             swffile: "@Url.Content("~/Scripts/jscam.swf")",
             onTick: function () { },
             onSave: function () {
             },
             onCapture: function () {
                 webcam.save("@Url.Content("~/Home/Capture")/");
             },
             debug: function () { },
             onLoad: function () { }
         });
                                </script>*@
                            
                            @{
                                var Passport = Model.ID + ".jpg";
                            }
                            <div id="uploadpassport">
                                <div id="printdiv">
                                    <center>
                                        <table style="width:100%">
                                            <tr>
                                                <td width="50%;" style="text-align:center">
                                                    <img src="~/Images/logosquare.jpg" style="width:200px" />
                                                </td>
                                                <td width="50%;">
                                                    @if (File.Exists(efilepathPassport))
                                                    {
                                                        <img src="~/ApplicantPassports/@Passport" width="130" height="130">
                                                    }
                                                    else
                                                    {
                                                        <span>Applicant's Passport</span>
                                                    }
                                                    <br />

                                                    <span style="text-align:center;">
                                                        @if (File.Exists(efilepathcv) && File.Exists(efilepathPassport))
                                                        {


                                                            <button type="submit" id="printbutton" value="Print" class="btn btn-success" onclick="printDiv('printdiv')" style="padding-top:3px;padding-bottom:3px;margin-top:3px;padding-left:20px;padding-right:20px;"><i class="lni lni-printer"></i> Print</button>
                                                        }
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>

                                    <table style="width:100%;color:black;padding:10px;">

                                        <tr>
                                            <th colspan="2">
                                                <br />
                                                <u style="margin-left:8px;">APPLICATION FOR <span style="margin-left:20px;"> @Html.Raw(HttpUtility.HtmlDecode(Model.Position.Position1.ToUpper()))</span></u>
                                               
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="2">
                                                <br />
                                                PERSONAL INFORMATION
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>Applicant's Name</td>
                                            <td>
                                                @Html.DisplayFor(model => model.Surname) @Html.DisplayFor(model => model.OtherNames)
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Sex</td>
                                            <td>
                                                @Html.DisplayFor(model => model.Sex.Sex1)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number</td>
                                            <td>
                                                @Html.DisplayFor(model => model.PhoneNumber)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>
                                                @Html.DisplayFor(model => model.Email)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Contact Address</td>
                                            <td>
                                                @Html.DisplayFor(model => model.ContactAddress)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>LGA of Residence</td>
                                            <td>
                                                @Html.DisplayFor(model => model.LGAResidence)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>City/Town</td>
                                            <td>
                                                @Html.DisplayFor(model => model.City)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>State of Origin</td>
                                            <td>
                                                @Html.DisplayFor(model => model.State.Name)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>State of Residence</td>
                                            <td>
                                                @Html.DisplayFor(model => model.State1.Name)
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <th colspan="2">
                                                <br />
                                                ATTESTATION<br />
                                                <span style="font-size:12px">
                                                    I @Model.Surname @Model.OtherNames hereby attest that the information filled by me on this form is truthfull and accurate.<br /><br />
                                                    Signature and Date:.......................................
                                                </span>
                                            </th>
                                        </tr>*@
                                    </table>
                                    @*<hr style="margin:3px;" />
                                    <span style="color:red;font-size:16px;">Note:Only selected applicants will be contacted through email and applicants can also login with their email and password used during application to check selection status. </span>
                                    <br />
                                    <span style="color:black;font-weight:bold;">Selected applicants are expected to write a Computer Based Test (CBT) Examination from 25th November, 2019 - 30th November, 2019.</span>*@
                                    <br />
                                    @if (File.Exists(efilepathcv))
                                    {
                                    <span style="color:black;font-weight:bold;">Aptitude test guidelines has been sent to your email or you can logon to your dashboard to access aptitude test guidelines.</span>
                                    }
                                    <br />
                                    <hr  style="margin:3px;"/>
                                    <span style="color:black">Email: support@marketsquare247.com</span>
                                    <br />
                                    <span style="color:black">Website: www.marketsquare247.com</span>
                                    <hr style="margin:3px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="font-size:14px">Edit Personal Information</h5>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("Edit","Applications",FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.ID)
                                @Html.HiddenFor(model => model.PositionID)
                                @Html.HiddenFor(model => model.DateSubmitted)
                                @Html.HiddenFor(model => model.ApplicationStatus)
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Surname", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.OtherNames, new { htmlAttributes = new { @class = "form-control", @placeholder = "Other Names", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.OtherNames, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.DropDownList("SexID", null, "-- Select Sex --", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.SexID, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address", @required = "required", @type = "email" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-5">
                                            @Html.DropDownList("StateOriginID", null, "-- Select State of Origin --", htmlAttributes: new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.StateOriginID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.LGAResidence, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Local Government of Residence" } })
                                            @Html.ValidationMessageFor(model => model.LGAResidence, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.DropDownList("StateResidenceID", null, "-- Select State of Residence --", htmlAttributes: new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.StateResidenceID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "City/Town" } })
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Choose Password", @type = "password" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-5">
                                            <textarea name="ContactAddress" class="form-control" rows="3" cols="10" placeholder="Contact Address" required="required">@Model.ContactAddress</textarea>
                                            @Html.ValidationMessageFor(model => model.ContactAddress, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-5">
                                            <input type="submit" value="Save" class="btn btn-common" />
                                        </div>
                                    </div>
                                </div>
                            }
                            </div></div></div></div>

                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
<p>

</p>
<br />
<p></p>
                <script>
                    function Uploadpassport() {
                        document.getElementById("uploadpassport").innerHTML = "<h4 style='font-size:14px;'>@if(File.Exists(efilepathPassport)){<h5 style='color:green;font-size:14px;'>Passport photograph uploaded successfully.</h5> }Upload your Passport Photograph</h4><form method='post' action='../UploadPassport' enctype='multipart/form-data'><input type='file' name='files' id='uploadFile'><input type='submit' value='Upload Passport' onclick='return CheckFileName();' class='btn btn-common'><input type='hidden' value='@Model.ID' name='ApplicantID'> </form><br>";
                    }

                    function UploadCV() {

                        document.getElementById("uploadpassport").innerHTML = "<h4 style='font-size:14px;'>@if(File.Exists(efilepathcv)){<h5 style='color:green;font-size:14px;'>CV uploaded successfully.</h5> }Upload your Curriculum Vitae (CV  in pdf format)</h4><form method='post' action='../UploadCV' enctype='multipart/form-data'><input type='file' name='files' id='uploadFilePdf'><input type='submit' value='Upload CV' class='btn btn-common' onclick='return CheckFileNamePdf();'><input type='hidden' value='@Model.ID' name='ApplicantID'></form><br>";
                    }

                    function aptitudetest() {

                        document.getElementById("uploadpassport").innerHTML = document.getElementById("aptitudeguidelines").innerHTML;
                    }

                </script>
                <script language="javascript" type="text/javascript">
                    function printDiv(divID) {
                        //Get the HTML of div
                        var divElements = document.getElementById(divID).innerHTML;
                        //Get the HTML of whole page
                        var oldPage = document.body.innerHTML;
                        //Reset the page's HTML with div's HTML only
                        document.body.innerHTML =
                            "<html><head><title></title></head><body>" +
                            divElements + "</body>";
                        var y = document.getElementById("printbutton");
                        if (y.style.display === "none") {
                            y.style.display = "block";
                        } else {
                            y.style.display = "none";
                        }

                        //Print Page
                        window.print();
                        //Restore orignal HTML
                        document.body.innerHTML = oldPage;
                    }
                </script>

                <script type="text/javascript">
                    function CheckFileName() {
                        var fileName = document.getElementById("uploadFile").value
                        //debugger;
                        if (fileName == "") {
                            alert("Browse to upload a valid File with jpg/jpeg/gif/png");
                            return false;
                        }
                        else if (fileName.split(".")[1].toUpperCase() == "JPG" || fileName.split(".")[1].toUpperCase() == "JPEG" || fileName.split(".")[1].toUpperCase() == "GIF" || fileName.split(".")[1].toUpperCase() == "PNG")
                            return true;
                        else {
                            alert("File with " + fileName.split(".")[1] + " is invalid. Upload a valid file with jpg/jpeg/gif/png");
                            return false;
                        }
                        return true;
                    }
                </script>

                <script type="text/javascript">
                    function CheckFileNamePdf() {
                        var fileName = document.getElementById("uploadFilePdf").value
                        //debugger;
                        if (fileName == "") {
                            alert("Browse to upload a valid pdf file");
                            return false;
                        }
                        else if (fileName.split(".")[1] == "pdf")
                            return true;
                        else {
                            alert("File with " + fileName.split(".")[1] + " is invalid. Upload a valid pdf file");
                            return false;
                        }
                        return true;
                    }
                </script>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
