@model Myvshoponline.OrderNegotiation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderNegotiation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAccept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAccept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerAccept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerAccept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Closed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Closed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.PaymentRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.PaymentRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopCustomer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopCustomer.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
