@model IEnumerable<Myvshoponline.OrderNegotiation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerOffer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerOffer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAccept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerAccept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Closed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.PaymentRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopCustomer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerOffer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerOffer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAccept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerAccept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Closed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.PaymentRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shop.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopCustomer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
