@model Myvshoponline.Models.ForgotPasswordViewModel
@{
  ViewBag.Title = "Forgot your password";
}


<body style="background-image:url(../images/bg1.jpg);background-size:cover;background-attachment:fixed">
</body>
<section id="content" class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-xs-12" style="background-color:#F2F4F6">

        <div class="page-login-form box">

          @*@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {*@
          @Html.AntiForgeryToken()
          <h4 style="font-size:10px;">Submit your Email Address to Reset your Password</h4>
          <hr />
          <div id="msgNotfound"></div>

          @Html.ValidationSummary("", new { @class = "text-danger" })
          <div class="form-group">
            <div class="col-md-10">
              @*@Html.TextBox("Email", new { @class = "form-control", @placeholder ="Email Address" })*@
              <input type="email" required="required" class="form-control" name="Email" id="email" placeholder="Email Address" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button type="button" class="btn btn-common" id="btnSubmit" onclick="return doSendOTP()">Send OTP</button>
              <button type="button" class="btn btn-common log-btn mt-3" disabled id="loadspinner" style="display:none;padding:18px">
                <div class="spinner-container">
                  <div class="loading-spinner"></div>
                </div>
              </button>
            </div>
          </div>
          @*}*@
        </div>
      </div>
    </div>
  </div>
</section>

<section id="resetcontent" class="section-padding" style="display:none;background-color:white;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-xs-12">

        <div class="page-login-form box">


          @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
          {
            @Html.AntiForgeryToken()
            <h3 style="color:#167A7C;padding:0px;font-size:10px" id="lblReset">Reset your Password</h3>
            <hr />


            <div id="msg"></div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <input type="hidden" name="Email" value="@Request.QueryString["em"]" />
            <div class="form-group">
              <div class="col-md-10">

                @Html.Editor("OTP", new { htmlAttributes = new { @placeholder = "Enter OTP", @class = "form-control", @required = "required", @id = "otp" } })
              </div>
            </div>

            <div id="display_count" style="color:red;"></div>
            <div class="form-group">
              <div class="col-md-10">
                @Html.Editor("Password", new { htmlAttributes = new { @type = "password", @id = "Password", @placeholder = "New Password ", @class = "form-control", @required = "required" } })

              </div>
            </div>

            <div class="form-group">
              <div class="col-md-10">
                @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @type = "password", @id = "ConfirmPassword", @placeholder = "Confirm Password ", @class = "form-control", @required = "required" } })
              </div>
            </div>
            <span id="StrengthDisp" class="badge displayBadge" style="margin:4px;"></span>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" class="btn btn-default" value="Reset" />*@

                @*<a href="~/Home/ResetPassword/@Model.Code" style="background-color:#1C9A9D; color:white; font-size:17px; font-family:'Century Gothic'; font-weight:400; width:29%; margin:0;" class="btn btn-default">Reset Password </a>*@

                <input style="background-color:#1C9A9D; color:white; font-size:17px; font-family:'Century Gothic'; font-weight:400; width:100%; margin:0;" type="button" id="btnReset" value="Reset Password" class="btn btn-success" onclick="return doReset();" />
                <button type="button" class="btn btn-common log-btn mt-3" disabled id="loadspinnerReset" style="display:none;padding:18px">
                  <div class="spinner-container">
                    <div class="loading-spinner"></div>
                  </div>
                </button>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>

<p></p>
<br />
<p></p>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
  function doSendOTP() {
    var _email = document.getElementById("email").value;

    if (_email == '') {
      $("#email").css("borderColor", "red");
      $("#email").focus();
      return false;
    }
    else {

      $("#email").css("borderColor", "green");
      $("#loadspinner").css("display", "block");
      $("#btnSubmit").css("display", "none");

      var url = "/Home/ForgotPasswordAjax/";
      $.ajax({
        url: url,
        data: { email: _email },
        cache: false,
        type: "POST",
        success: function (data) {
          var html = '';
          /*$.each(data, function (key, item) {*/
          if (data.mailsent == 'true') {
            $("#content").css("display", "none");
            $("#resetcontent").css("display", "block");
            $("#msg").html('<p class="alert alert-success">An OTP has been sent to your email. Enter the OTP to reset your password</p>');

          }
          else {
            $("#loadspinner").css("display", "none");
            $("#btnSubmit").css("display", "block");
            $("#msgNotfound").html('<p class="alert alert-danger">Account not found!</p>');
          }
          /* });*/
        },
        error: function (reponse) {
          alert("error : " + reponse);
        }
      });

    }
  }
</script>


<script type="text/javascript">
  function doReset() {

    var _email = document.getElementById("email").value;
    var _pw = document.getElementById("Password").value;
    var _otp = document.getElementById("otp").value;

    if (_otp == '') {
      $("#otp").css("borderColor", "red");
      $("#otp").focus();
      return false;
    }
    else if (_pw == '') {
      $("#Password").css("borderColor", "red");
      $("#Password").focus();
      return false;
    }
    else {
      if (Validate()) {
        $("#otp").css("borderColor", "green");
        $("#Password").css("borderColor", "green");
        $("#loadspinnerReset").css("display", "block");
        $("#btnReset").css("display", "none");

        var url = "/Home/ResetPasswordAjax/";
        $.ajax({
          url: url,
          data: { email: _email, password: _pw, otp: _otp },
          cache: false,
          type: "POST",
          success: function (data) {
            var html = '';
            $.each(data, function (key, item) {
              if (item.status == 'true') {
                $("#otp").css("display", "none");
                $("#Password").css("display", "none");
                $("#ConfirmPassword").css("display", "none");
                $("#lblReset").css("display", "none");
                $("#loadspinnerReset").css("display", "none");
                $("#StrengthDisp").css("display", "none");
                $("#display_count").css("display", "none");

                $("#resetcontent").css("display", "none");
                $("#msgUpdated").html('<p class="alert alert-success">Password updated successfully</p>');
                $("#contentLogin").css("display", "block");
              }
              else {
                $("#loadspinnerReset").css("display", "none");
                $("#btnReset").css("display", "block");
                $("#msg").html('<p class="alert alert-danger">Invalid OTP code</p>');
              }
            });
          },
          error: function (reponse) {
            alert("error : " + reponse);
          }
        });
      }
    }
  }
</script>


<script type="text/javascript">
  function Validate() {
    var password = document.getElementById("Password").value;
    var confirmPassword = document.getElementById("ConfirmPassword").value;
    if (password != confirmPassword) {
      $('#display_count').html('<div class="alert alert-danger">Passwords does not match</div>');
      return false;
    }
    return true;
  }
</script>

<script type="text/javascript">
  // timeout before a callback is called

  let timeout;

  // traversing the DOM and getting the input and span using their IDs

  let password = document.getElementById('Password')
  let strengthBadge = document.getElementById('StrengthDisp')

  // The strong and weak password Regex pattern checker

  //let strongPassword = new RegExp('(?=.*[A-Z])(?=.*[0-9])|(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.{8,})')
  let strongPassword = new RegExp('((?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))');
  /*let strongPassword = new RegExp('((?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))')*/
  /*let mediumPassword = new RegExp('((?=.*[A-Z])(?=.*[0-9])|(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))')*/

  function StrengthChecker(PasswordParameter) {
    // We then change the badge's color and text based on the password strength

    if (strongPassword.test(PasswordParameter)) {
      strengthBadge.style.backgroundColor = "green"
      strengthBadge.style.color = "white"
      strengthBadge.textContent = 'Strong'
    }
    //else if (mediumPassword.test(PasswordParameter)) {
    //  strengthBadge.style.backgroundColor = 'blue'
    //  strengthBadge.style.color = "white"
    //  strengthBadge.textContent = 'Medium'
    //}
    else {
      strengthBadge.style.backgroundColor = 'red'
      strengthBadge.textContent = 'Weak'
      $('#display_count').html('<div class="alert alert-danger">Password must contain atleast 1 UPPERCASE, 1 lowercase, 1 digit, 1 special character and 6 characters minimun</div>');
    }
  }

  // Adding an input event listener when a user types to the  password input
  password.addEventListener("input", () => {
    //The badge is hidden by default, so we show it
    strengthBadge.style.display = 'block'
    clearTimeout(timeout);
    //We then call the StrengChecker function as a callback then pass the typed password to it
    timeout = setTimeout(() => StrengthChecker(password.value), 500);
    //Incase a user clears the text, the badge is hidden again
    if (password.value.length !== 0) {
      strengthBadge.style.display != 'block'
    } else {
      strengthBadge.style.display = 'none'
    }
  });
</script>



<section id="contentLogin" class="section-padding" style="display:none">
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6 col-xs-12" style="background-color:#F2F4F6">
        <div id="msgUpdated"></div>
        <div class="page-login-form box">
          @if (ViewBag.ax != null)
          {
            <div class="alert alert-success">@ViewBag.AccountCreated</div>
          }
          <h3>
            Login
          </h3>
          <form class="login-form" method="post" action="~/Account/Login">
            @Html.AntiForgeryToken()
            <div class="form-group">
              @if (ViewBag.UserNotExist != null)
              {
                <h6 style="color:red">@ViewBag.UserNotExist!</h6>
              }
              <div id="invalid_msg"></div>
              <div id="success_msg"></div>
              <div class="input-icon">
                <i class="lni-envelope"></i>
                <input type="text" id="email" tabindex="1" class="form-control" name="Username" placeholder="Email or Phone Number" required="required">
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon">
                <i class="lni-lock"></i>

                <input type="password" id="password" tabindex="3" class="form-control" name="Password" placeholder="Password" required="required">
              </div>
            </div>
            @*<div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep Me Signed In</label>
        </div>*@

            <input class="btn btn-common log-btn" tabindex="3" type="button" value="LOGIN" id="btnLogin2" onclick="doLogin()">
            <button class="btn btn-common log-btn" disabled tabindex="3" type="button" id="loadspinner" style="padding:18px;display:none">
              <div class="spinner-container">
                <div class="loading-spinner"></div>
              </div>
            </button>
          </form>
          <ul class="form-links">
            <li class="text-center" style="color:black;">
              <input type="checkbox" onchange="rememberPassword()" id="remember">&nbsp; Keep me logged in on this device
            </li>
          </ul>
          <ul class="form-links">
            <li class="text-center"><a href="~/Users/Create" id="signupLogin">Don't have an account?<font style="color:#33C6F6;"> Sign up</font></a></li>
          </ul>

          <ul class="form-links">
            <li class="text-center"><a href="~/Home/Forgotpassword" style="color:#33C6F6;">Forgot your password?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function rememberPassword() {
    if (document.getElementById("remember").checked == true) {
      window.localStorage.setItem('rememberMe', 'true');
    }

  }
</script>
<script type="text/javascript">
  function doLogin() {
    var _pw = document.getElementById("password").value;
    var _email = document.getElementById("email").value;
    if (_email == '') {
      $("#email").css("borderColor", "red");
      $("#email").focus();
      return false;
    }
    else if (_pw == '') {
      $("#password").css("borderColor", "red");
      $("#password").focus();
      return false;
    }
    else {

      document.getElementById("email").style.borderColor = "green";
      document.getElementById("password").style.borderColor = "green";

      //$(document).ajaxstart(function () {
      //    $("#loadspinner").css("display", "none");
      //});
      document.getElementById("loadspinner").style.display = "block";
      document.getElementById("btnLogin2").style.display = "none";

      var url = "/Users/LoginAjax/";
      $.ajax({
        url: url,
        data: { email: _email, password: _pw },
        cache: false,
        type: "POST",
        success: function (data) {
          var html = '';
          $.each(data, function (key, item) {
            if (item.UserNotExist == 'true') {
              $("#loadspinner").css("display", "none");
              $("#btnLogin2").css("display", "block");
              $("#invalid_msg").html('<p class="alert alert-danger">Invalid login, try again</p>');
            }
            else if (item.gotoAdminLanding == 'true') {
              $("#invalid_msg").html('<p class="alert alert-success">Login successful, redirecting...</p>');
              //Swal.fire({
              //    position: 'top-end',
              //    icon: 'success',
              //    title: 'Login successful, redirecting...',
              //    showConfirmButton: false,
              //    timer: 3000
              //})
              window.location = '../Users/AdminLanding/' + item.userid;
            }
            else if (item.gotoUserDashboard == 'true') {
              $("#invalid_msg").html('<p class="alert alert-success">Login successful, redirecting...</p>');
              //Swal.fire({
              //    icon: 'success',
              //    title: 'Login successful, redirecting...',
              //    width: 600,
              //    height:100,
              //    padding: '1em',
              //    showConfirmButton: false,
              //    timer: 3000
              //})
              window.location.href = '../Users/Dashboard/' + item.userid;
            }
            else {
              $("#invalid_msg").html('<p class="alert alert-success">Login successful, redirecting...</p>');
              window.location = '../Users/VerificationLinkSent/?id=' + item.userid + '&ax=1';
            }
          });
          $("#success_msg").css("display", "block");

        },
        error: function (reponse) {
          alert("error : " + reponse);
        }
      });
      return true;
    }
  }
</script>
