@model Myvshoponline.Models.ForgotPasswordViewModel
@{ 
    ViewBag.Title = "Forgot your password";
}


<body style="background-image:url(../images/bg1.jpg);background-size:cover;background-attachment:fixed">
</body>
<section id="content" class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-xs-12" style="background-color:#F2F4F6">

                <div class="page-login-form box">

                    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4 style="font-size:15px;">Submit your Email Address to Reset your Password</h4>
                        <hr />
                        if(ViewBag.EmailNotExist!=null)
                        {
                            <h5 class="alert alert-danger" style="font-size:14px;">@ViewBag.EmailNotExist</h5>
                        }
                        if (ViewBag.MailSent != null)
                        {
                            <h5 class="alert alert-success" style="font-size:14px;">@ViewBag.MailSent</h5>
                        }
                        
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-10">
                                @*@Html.TextBox("Email", new { @class = "form-control", @placeholder ="Email Address" })*@
                                <input  type="email" required="required" class="form-control" name="Email" placeholder="Email Address" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @*<input type="submit" id="btnColor" class="btn btn-default" value="Recover Password" />*@
                                <button type="submit" class="btn btn-common" id="btnColor">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<p></p>
<br />
<p></p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
