@model Myvshoponline.User
@{
    ViewBag.Title = "Reset password";
}

<section id="content" class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-xs-12">

                <div class="page-login-form box">


                    @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3 style="color:#167A7C;padding:0px;">Reset your Password</h3>
                        <hr />
                        @*<h3 style="color:#167A7C; margin-left:50px;">
                                @if(@ViewBag.Message!="")
                                {
                                    @ViewBag.Message
                                }
                            </h3>*@
                        if(ViewBag.PasswordReset!=null)
                        {
                            <h5 style="font-size:12px;" class="alert alert-success">@ViewBag.PasswordReset <br /><a href="~/Account/Login" class="btn btn-common">Login here</a></h5>
                          }
                    if (ViewBag.NotFound != null)
                    {
                        <h5 style="font-size:12px;" class="alert alert-danger">@ViewBag.NotFound</h5>
                        }

                        if (Request.QueryString["q"] != null)
                        {
                            <h5 style="font-size:12px;" class="alert alert-success">@Request.QueryString["q"]</h5>
                        }
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <input type="hidden" name="Email" value="@Request.QueryString["em"]" />
                        <div class="form-group">
                            <div class="col-md-10">

                                @Html.Editor("OTP", new { htmlAttributes = new { @placeholder = "Enter OTP", @class = "form-control",@required="required" } })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.Editor("Password", new { htmlAttributes = new { @type = "password", @id = "Password", @placeholder = "New Password ", @class = "form-control", @required = "required" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @type = "password", @id = "ConfirmPassword", @placeholder = "Confirm Password ", @class = "form-control", @required = "required" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @*<input type="submit" class="btn btn-default" value="Reset" />*@

                                @*<a href="~/Home/ResetPassword/@Model.Code" style="background-color:#1C9A9D; color:white; font-size:17px; font-family:'Century Gothic'; font-weight:400; width:29%; margin:0;" class="btn btn-default">Reset Password </a>*@

                                <input style="background-color:#1C9A9D; color:white; font-size:17px; font-family:'Century Gothic'; font-weight:400; width:100%; margin:0;" type="submit" value="Reset Password" class="btn btn-success" onclick="return Validate()" />
                            </div>
                        </div>
                    }
</div></div></div></div></section>
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }


                    <script type="text/javascript">
                        function Validate() {
                            var password = document.getElementById("Password").value;
                            var confirmPassword = document.getElementById("ConfirmPassword").value;
                            if (password != confirmPassword) {
                                alert("Passwords do not match.");
                                return false;
                            }
                            return true;
                        }
                    </script>
