<div id="popularproductsforSEO" style="margin:1px;padding:0px;">
  <div class="panel panel-success">
    <!--Add active status to search optimizations-->
    @if (db.SearchOptimizations.Where(s => s.DaysActive < 1).Count() > 0)
    {
      <div class="panel-heading" style="background-color:#0BACE1;">
        <h3 class="panel-title" style="color:white;font-family:Arial;opacity:0.9;font-size:14px;text-align:left;">Sponsored</h3>
      </div>
    }
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
          @foreach (var item in Model)
          {
            int ShopID = item.ShopID;

            int ProductID = item.ID;
            <!--CHECK IF THIS PRODUCT IS SPONSORED IN SEARCH OPTIMIZATION-->
            if (db.SearchOptimizations.Where(s => s.ProductID == ProductID && s.PopularStoreStatu.Status == "Active").Count() > 0)
            {

              int countproductinsubitems = db.ProductSubProducts.Where(p => p.ProductID == ProductID).Count();
              <div class="col-4 col-sm-4 col-md-2" style="padding:0px;margin:0px">
                @if (countproductinsubitems > 0)
                {
                  <a href="~/ProductSubProducts/ProductSubitems/@item.ID?sid=@item.ShopID" title="@item.Name" class="job-listings-featured" style="height:285px;background-color:white">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-xs-12" style="padding-left:3px">

                        @{ var image = item.Shop.User.CompanyName + item.Shop.User.HardToken + "/" + item.Shop.Name + "/" + item.ID + ".jpg";}
                        <center>
                          <img src="~/BusinessImages/@image" alt="@item.Name" style="width:126px;height:120px;">
                          <br />
                          <strong style="font-size:13px;color:black;font-weight:bold">@item.Name</strong>

                          <h3 style="margin:0px;padding:0px">

                            <span style="background-color:white;color:black;font-weight:bold;font-size:15px;">

                              @if (item.Currency == "NGN")
                              {<del class="NairaSign">N</del>}
                              else
                              { <span>@item.Currency</span>}@{


                                decimal Total = Convert.ToDecimal(item.Amount);
                                var a = string.Format("{0:#,0}", Total);}@a
                              </span>
                            </h3>@{
                              int StateID = Convert.ToInt32(item.Shop.StateID);
                              var State = db.States.Where(s => s.ID == StateID).Select(s => s.Name).FirstOrDefault();
                            }
                            <hr style="padding-bottom:1px;margin-bottom:0px;margin-top:0px;" />
                            <span style="font-size:11px;color:#007ACC"><i class="lni-map-marker"></i>@item.Shop.CountryRegion.Country - @State</span>

                          </center>

                        </div>
                      </div>
                    </a>
                  }
                  else
                  {

                    <a class="job-listings-featured" href="~/Products/ProductDetails/@item.ID?sid=@item.ShopID" style="height:285px;background-color:white">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12" style="padding-left:3px">

                          @{ var image = item.Shop.User.CompanyName + item.Shop.User.HardToken + "/" + item.Shop.Name + "/" + item.ID + ".jpg";}
                          <center>
                            <img src="~/BusinessImages/@image" alt="@item.Name" style="width:126px;height:120px;">
                            <br />
                            <strong style="font-size:13px;color:black">@item.Name</strong>

                            <h3 style="margin:0px;padding:0px;">
                              <span style="background-color:white;color:black;font-weight:bold;font-weight:bold;margin:1px;font-size:15px;">

                                @if (item.Currency == "NGN")
                                {<del class="NairaSign">N</del>}
                                else
                                { <span>@item.Currency</span>}@{

                                  decimal Total = Convert.ToDecimal(item.Amount);
                                  var a = string.Format("{0:#,0}", Total);}@a
                                </span>
                              </h3>
                              @{
                                int StateID = Convert.ToInt32(item.Shop.StateID);
                                var State = db.States.Where(s => s.ID == StateID).Select(s => s.Name).FirstOrDefault();
                              }
                              <hr style="padding-bottom:1px;margin-bottom:0px;" />

                              <span style="font-size:11px;color:#007ACC"><i class="lni-map-marker"></i>@item.Shop.CountryRegion.Country - @State</span>
                            </center>
                          </div>
                        </div>
                      </a>
                    }

              </div>
            }

          }
        </div>
      </div>
    </div>
  </div>

</div>
