




@model Myvshoponline.PricingPlan
@using Myvshoponline.Controllers;
@{ MyvshoponlineEntities db = new MyvshoponlineEntities(); }


@{
    ViewBag.Title = "Buy Plan";
    decimal DiscountPercentage = (decimal)db.Settings.Select(s => s.DiscountPercentage).FirstOrDefault();
    decimal BonusPercentage = (decimal)db.Settings.Select(s => s.BonusPercentage).FirstOrDefault();
    ViewBag.D = DiscountPercentage;
    ViewBag.B = BonusPercentage;

}

<head>
  <style>
    .divcover {
      border-radius: 20px;
      background-color: #F0F0F0;
      width: 100px;
      height: 40px;
      font-weight: bolder;
      padding: 7px;
      color: black;
      font-size: 17px;
      font-stretch: expanded;
      font-family: 'Times New Roman';
      align-content: center;
    }

    .divtoggle {
      border-radius: 20px;
      background-color: #F0F0F0;
      width: 100px;
      height: 150px;
      font-weight: bolder;
      color: black;
      padding: 10px;
      font-size: 17px;
      font-stretch: expanded;
      font-family: 'Times New Roman';
    }
  </style>
</head>
<input type="hidden" id="discount" value="@ViewBag.D" />
<input type="hidden" id="extrabonus" value="@ViewBag.B" />

<link href="~/Content/Panel.css" rel="stylesheet" />

<div id="content">
  
  <center>
    <table class="divcover">
      <tr>
        <td>
          <span class="divtoggle" style="cursor:pointer" id="ngn" onclick="toggleCurrency(this.id)">
            NGN
          </span>
        </td>
        <td>
          <span class="divtoggle" style="cursor:pointer" id="usd" onclick="toggleCurrency(this.id)">
            USD
          </span>
        </td>
      </tr>
    </table>
  </center>
  <div class="">
    <div class="row">

      <div id="companydetailsmobile" style="display:none"></div>
      <div class="col-lg-8 col-md-7 col-xs-12" id="shopdetails">
        <div class="right-sideabr">



          <div class="panel panel-success">
            <div class="panel-heading" style="background-color: #17A2B8">
              <h3 class="panel-title" style="color:white;font-family:Arial;opacity:0.9;"> <span id="planname"> @Model.PlanName</span></h3>
            </div>
            <div class="panel-body" style="color:black">
              <div class="row">
                <div class="col-md-6">
                  Change Plan @Html.DropDownList("PlanID", null, htmlAttributes: new { @class = "form-control", @id = "plan", @onchange = "Get_PlanFeatures();Get_Billing();Get_PlanAmount()" })
                </div>
                <div class="col-md-6">
                  Billing Cycle  @Html.DropDownList("BillingID", null, htmlAttributes: new { @class = "form-control", @id = "billing", @onchange = "Get_Billing()" })
                </div>
              </div>
              <hr style="margin:10px" />
              <ul>
                <li style="font-size:14px;font-weight:bold;color:#1DA6E2;padding:6px">
                  <div id="nameforfeatures"></div>
                </li>
              </ul>
              <div class="row">
                <div id="planfeatures" class="col-lg-12">
                  @foreach (var item in db.PlanFeatures.Where(p => p.PricingPlanID == Model.ID).ToList())
                  {
                    <div class="col-md-6" style="padding-left:15px;line-height:1.5em">
                      @if (item.Status == 1)
                      {
                        <img src="~/Images/mark2.png" style="width:15px" />

                      }
                      else
                      {
                        <img src="~/Images/removeicon.png" style="width:15px" />
                      }  @item.Feature
                      <hr style="margin:1px;padding:1px;" />
                    </div>
                  }
                </div>
              </div>
              @*</ul>*@
            </div>
          </div>


        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12" id="companydetails" style="display:block">

        <div class="panel panel-success">
          <div class="panel-heading" style="background-color: #17A2B8">
            <h3 class="panel-title" style="color:white;font-family:Arial;opacity:0.9">
              Summary
            </h3>
          </div>
          <div class="panel-body">
            <div id="planamountpermonth" class="price" style="font-size:12px;font-weight:bold">
              @{
                int UserID = (int)Session["UserID"];
                string email = db.Users.Find(UserID).Email;
                string phone = db.Users.Find(UserID).PhoneNumber;
                decimal am1 = Convert.ToDecimal(Model.Amount);
                var am = string.Format("{0:#,0}", am1);}
              <b>  @Model.PlanName PLAN </b> &nbsp;
              <span class="" id="currencySignPlan" style="color:black">NGN</span> <d id="amtPremium" style="color:black">@am</d>
              <span style="font-weight:bold;color:black;">monthly</span>
            </div>
            <hr />
            <table style="font-weight:bold;font-size:12px;margin-bottom:0px">
              <tr>
                <td>
                  Billing Cycle:
                </td>
                <td style="padding-left:5px">
                  <div id="cycle" style="color:black;"></div>
                </td>
              </tr>
            </table>

            <div id="amount" style="color:black;font-weight:bold;font-size:20px"></div>

            <hr style="margin-top:0px;padding-top:0px" />
            <div id="total" style="font-weight:bold;color:black;font-size:20px"></div>

            <input type="hidden" id="currentCurrency" value="NGN" />
            <input id="totalamount" type="hidden" />
            <input id="getplanname" type="hidden" />
            <input id="planid" type="hidden" />
            <input id="billingid" type="hidden" />
            <input id="companyname" type="hidden" value="@Session["Name"]" />
            <input id="userid" type="hidden" value="@Session["UserID"]" />
            <input id="email" type="hidden" value="@email" />
            <input id="phone" type="hidden" value="@phone" />
            <input id="extraperiod" type="hidden" />
            <input id="extrabonusamount" type="hidden" />
            <input id="discountamount" type="hidden" />
            <input id="expectedamount" type="hidden" />
            <hr />
            <form id="btnPayNGN">
              <script src="https://js.paystack.co/v1/inline.js"></script>
              <button type="button" class="btn btn-success" style="width:auto;" onclick="payWithPaystack()"> Pay NGN <span id="buttonamount"></span> Now</button>
            </form>

            <div id="btnPayDollar" style="display:none">
              <input type="hidden" id="totalDollar" />
              <div id="paypal-button-container"></div>
              @*<button type="button" class="btn btn-primary" style="width:auto;" onclick="payWithPaystack()"> Pay USD <span id="buttonamountdollar"></span> Now</button>*@
            </div>



          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<body>


</body>



<script>
  function payWithPaystack() {
    var myamt = document.getElementById("totalamount").value * 100;
    var companyname = document.getElementById("companyname").value;
    var myname = document.getElementById("getplanname").value + " -" + companyname;
    var _planID = document.getElementById("plan").value;
    var _BillingID = document.getElementById("billing").value;
    var realplan = document.getElementById("getplanname").value;
    var userid = document.getElementById("userid").value;
    var email = document.getElementById("email").value;
    var phone = document.getElementById("phone").value;

    //var _extraperiod = document.getElementById("extraperiod").value;
    //var _expectedamount=document.getElementById("expectedamount").value;
    //var _discountpercentage = document.getElementById("discount").value;
    //var _discountamount = document.getElementById("discountamount").value;
    //var _extrabonuspercentage = document.getElementById("extrabonus").value;
    //var _extrabonusamount = document.getElementById("extrabonusamount").value;
    var handler = PaystackPop.setup({
      key: 'pk_live_0440497e3b0ab4eecc0e3356dfbbca4246c27e8b',
      /*key: 'pk_test_30f35faf090ef8870e4f411d1b463dc16d432942',*/

      email: email,
      amount: myamt,
      ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      firstname: myname,
      number: "",
      // label: "Optional string that replaces customer email"
      label: myname,
      metadata: {
        custom_fields: [
          {
            display_name: "Mobile Number",
            variable_name: "mobile_number",
            value: phone
          }
        ]
      },
      callback: function (response) {
        var url = "/Users/Update_Payment_Company_Plan/";
        $.ajax({
          url: url,
          /*data: { refno: response.reference, amount: myamt, planid: _planID, billingid: _BillingID, extraperiod: _extraperiod, discountpercentage: _discountpercentage, extrabonusamount: _extrabonusamount, expectedamount: _expectedamount, extrabonuspercentage: _extrabonuspercentage, discountamount: _discountamount },*/
          data: { refno: response.reference, amount: myamt, planid: _planID, billingid: _BillingID },
          cache: false,
          type: "POST",
        })
        // alert('You have succesfully paid for' + realplan + '\n Your trasaction reference: ' + response.reference);
        //Swal.fire({
        //  position: 'top-end',
        //  /*icon: 'success',*/
        //  title: 'Transaction completed successfully',
        //  showConfirmButton: false,
        //  timer: 1800,
        //  padding: '0em',
        //  width: '600px',
        //  height: '8px',

        //})
        window.location.href = "/Users/AccountUpgrade/?id=" + userid + "&ug=true";
      },
      onClose: function () {
        //alert('Transaction aborted by user. Try again');
        Swal.fire({
          position: 'top-end',
          /*icon: 'success',*/
          title: 'Transaction aborted by user. Try again',
          showConfirmButton: false,
          timer: 1800,
          padding: '0em',
          width: '600px',
          height: '8px',

        })
      }
    });
    handler.openIframe();
  }
</script>
<!-- End Content -->
<script type="text/javascript">
function Get_Billing() {
    var _planID = document.getElementById("plan").value;
    var _BillingID = document.getElementById("billing").value;
        var url = "/Users/Get_Billing/";
        $.ajax({
            url: url,
            data: { PlanID: _planID, BillingID: _BillingID},
            cache: false,
            type: "GET",
            success: function (data) {

                var html = '<table class="table" style="font-size:15px;margin-bottom:0px">';
                var html2 = '';

                $.each(data, function (key, item) {
                    var a = item.Amount;
                    var c = item.Value * 30;
                    var amountperday = item.Amount / c;
                    var extraperiod = (document.getElementById("extrabonus").value * a / 100) / amountperday;

                    var totalDays = extraperiod;
                    var totalYears = Math.trunc(totalDays / 365);
                    var totalMonths = Math.trunc((totalDays % 365) / 30);
                    var remainingDays = Math.trunc((totalDays % 365) % 30);

                   // html += '<tr><td>' + item.Cycle + " = <del class=NairaSign>N</del>" + formatNumber(item.Amount) + '<br style="margin-top:3px;"><font color="blue" size="2">@string.Format("{0:#,0}",DiscountPercentage)% discount = <del class=NairaSign>N</del>' + formatNumber((document.getElementById("discount").value * a / 100)) + ' </font><tr><td><font color="green"> Extra Bonus: </font>' + checkmonth(totalMonths) + checkday(remainingDays) + '</td></tr> </td></tr>';
                  /*html2 += "Total  = " + '<span class=NairaSign>NGN</span>' + formatNumber(item.Amount - (document.getElementById("discount").value * a / 100));*/
                  var CCurrency = document.getElementById("currentCurrency").value;
                  if (CCurrency == "NGN") {
                    html2 += "Total: " + '<span class=""  id="currencySignTotal" >' + CCurrency + '</span> <d id="amtTotal">' + formatNumber(item.Amount) + '</d>';
                  }
                  else {
                    html2 += "Total: " + '<span class=""  id="currencySignTotal" >' + CCurrency + '</span> <d id="amtTotal">' + item.DollarPrice + '</d>';
                    //fill the dollar input box
                    document.getElementById("totalDollar").value = item.DollarPrice

                  }
                  document.getElementById("cycle").innerHTML = item.Cycle;
                  /*document.getElementById("totalamount").value = item.Amount - (document.getElementById("discount").value * a / 100);*/
                  document.getElementById("totalamount").value = item.Amount;
                  /*document.getElementById("buttonamount").innerHTML = formatNumber(item.Amount - (document.getElementById("discount").value * a / 100));*/
                  document.getElementById("buttonamount").innerHTML = formatNumber(item.Amount);
                  //document.getElementById("buttonamountdollar").innerHTML = formatNumber(item.DollarPrice);
                  document.getElementById("getplanname").value = item.PlanName;
                  document.getElementById("expectedamount").value = a;
                       // document.getElementById("extraperiod").value = extraperiod;
                       // document.getElementById("extrabonusamount").value = document.getElementById("extrabonus").value * a / 100;
                        //document.getElementById("discountamount").value=document.getElementById("discount").value * a / 100


                    });
               html += "</table>"

               $("#amount").html(html).show();
              $("#total").html(html2).show();

            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }




</script>

<script type="text/javascript">
  $(document).ready(function () {
    var _planID = document.getElementById("plan").value;
    var _BillingID = 2;
    var url = "/Users/Get_Billing/";
    $.ajax({
      url: url,
      data: { PlanID: _planID, BillingID: _BillingID },
      cache: false,
      type: "GET",
      success: function (data) {

        var html = '<table class="table" style="font-size:15px;margin-bottom:0px">';
        var html2 = '';

        $.each(data, function (key, item) {
          var a = item.Amount;
          var c = item.Value * 30;
          var amountperday = item.Amount / c;
          //var extraperiod = (document.getElementById("extrabonus").value * a / 100) / amountperday;

          var totalDays = extraperiod;
          var totalYears = Math.trunc(totalDays / 365);
          var totalMonths = Math.trunc((totalDays % 365) / 30);
          var remainingDays = Math.trunc((totalDays % 365) % 30);


          //html += '<tr><td>' + item.Cycle + " = <del class=NairaSign>N</del>" + formatNumber(item.Amount) + '<br style="margin-top:3px;"><font color="blue" size="2">@string.Format("{0:#,0}",DiscountPercentage)% discount = <del class=NairaSign>N</del>' + formatNumber((document.getElementById("discount").value * a / 100)) + ' </font><tr><td><font color="green"> Extra Bonus: </font>' + checkmonth(totalMonths) + checkday(remainingDays) + '</td></tr> </td></tr>';
          /*html2 += "Total: " + '<del class=DollarSign>NGN</del>' + formatNumber(item.Amount - (document.getElementById("discount").value * a / 100));*/
          var CCurrency = document.getElementById("currentCurrency").value;
          if (CCurrency == "NGN") {
            html2 += "Total: " + '<span class=""  id="currencySignTotal" >' + CCurrency + '</span> <d id="amtTotal">' + formatNumber(item.Amount) + '</d>';
          }
          else {
            html2 += "Total: " + '<span class=""  id="currencySignTotal" >' + CCurrency + '</span> <d id="amtTotal">' + item.DollarPrice + '</d>';
          }

          document.getElementById("cycle").innerHTML = item.Cycle;
          /*document.getElementById("totalamount").value = item.Amount - (document.getElementById("discount").value * a / 100);*/
          document.getElementById("totalamount").value = item.Amount;
          /*document.getElementById("buttonamount").innerHTML = formatNumber(item.Amount - (document.getElementById("discount").value * a / 100));*/
          document.getElementById("buttonamount").innerHTML = formatNumber(item.Amount);
         // document.getElementById("buttonamountdollar").innerHTML = formatNumber(item.DollarPrice);
          document.getElementById("getplanname").value = item.PlanName;
          document.getElementById("expectedamount").value = a;
          //document.getElementById("extraperiod").value = extraperiod;
          //document.getElementById("extrabonusamount").value = document.getElementById("extrabonus").value * a / 100;
          //document.getElementById("discountamount").value = document.getElementById("discount").value * a / 100


        });
        html += "</table>"

        $("#amount").html(html).show();
        $("#total").html(html2).show();

      },
      error: function (reponse) {
        alert("error : " + reponse);
      }
    });
  });

</script>

<script type="text/javascript">
  function calculatediscount(discount, amount) {
    var totaldis = discount * amount;
    return totaldis;
  }

  function checkmonth(totalmonths) {
    if (totalmonths > 0) {
      if (totalmonths > 1) {
        return totalmonths + " months ";
      }
      else {
        return totalmonths + " month ";
      }
    }
    else {
      return "";
    }
  }

  function checkday(totaldays) {
    if (totaldays > 0) {
      if (totaldays > 1) {
        return totaldays + " days ";
      }
      else {
        return totaldays + " day ";
      }
    }
    else {
      return "";
    }
  }

  function Get_PlanFeatures() {
    var _planID = document.getElementById("plan").value;
    var url = "/Users/Get_PlanFeatures/";
    $.ajax({
      url: url,
      data: { PlanID: _planID },
      cache: false,
      type: "GET",
      success: function (data) {

        var html = '';

        $.each(data, function (key, item) {

          html += '<div class="col-md-6" style="padding-left:15px;line-height:1.5em">';
          if (item.status == '1') {
            html += '<img src = "../../Images/mark2.png" style = "width:15px" /></span >' + item.Feature + '<hr style = "margin:1px;padding:1px;" ></div > ';
          }
          else {

            html += '<img src="../../Images/removeicon.png" style="width:15px" />' + item.Feature + '<hr style = "margin:1px;padding:1px;" ></div > ';
          }
        });

        $("#planfeatures").html(html).show();
        document.getElementById("getplanname").value = item.PlanName;
      },
      error: function (reponse) {
        alert("error : " + reponse);
      }
    });
  }



  function Get_PlanAmount() {
    var _planID = document.getElementById("plan").value;
    var url = "/Users/Get_PlanAmount/";
    $.ajax({
      url: url,
      data: { PlanID: _planID },
      cache: false,
      type: "GET",
      success: function (data) {

        var html1 = '';
        var html3 = '';
        var html4 = '';
        var html5 = '';

        $.each(data, function (key, item) {
          var CCurrency = document.getElementById("currentCurrency").value;
          if (CCurrency == "NGN") {
            html1 += '<b>' + item.PlanName + ' PLAN </b> &nbsp; <span class="" id="currencySignPlan" style="color:black">' + CCurrency + ' </span> <d id="amtTotal" style="color:black">' + formatNumber(item.PlanAmount) + '</d><span style="font-weight:bold;color:black"> monthly</span>';
          }
          else {
            html1 += '<b>' + item.PlanName + ' PLAN </b> &nbsp; <span class="" id="currencySignPlan" style="color:black">' + CCurrency + ' </span> <d id="amtTotal" style="color:black">' + item.DollarPrice + '</d><span style="font-weight:bold;color:black"> monthly</span>';
           
          }

          html3 += "FEATURES OF " + item.PlanName;
          html4 += item.PlanName;
          html5 += item.PlanAmount;
        });

        $("#planamountpermonth").html(html1).show();
        $("#nameforfeatures").html(html3).show();
        $("#planname").html(html4).show();
        document.getElementById("totalamount").value = item.Amount;
        document.getElementById("getplanname").value = item.PlanName;
      },
      error: function (reponse) {
        alert("error : " + reponse);
      }
    });
  }
</script>

<script type="text/javascript">
  function formatNumber(num) {
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
  }
</script>


<script>

  function toggleCurrency(c) {
    if (c == 'ngn') {
      document.getElementById("ngn").style.backgroundColor = "#303D4B";
      document.getElementById("ngn").style.color = "#FFFFFF";
      document.getElementById("usd").style.color = "#000000";
      document.getElementById("usd").style.backgroundColor = "#F0F0F0";

      document.getElementById("currentCurrency").value = "NGN";
      document.getElementById("currencySignPlan").innerHTML = document.getElementById("currentCurrency").value;
      document.getElementById("currencySignTotal").innerHTML = document.getElementById("currentCurrency").value;
      Get_PlanAmount();
      Get_Billing();
      document.getElementById("btnPayDollar").style.display = "none";
      document.getElementById("btnPayNGN").style.display = "block";

      document.getElementById("currencySignPay").innerHTML = "NGN";
      document.getElementById("amtStandard").innerHTML = document.getElementById("txtamtStandard").value;
      document.getElementById("amtPremium").innerHTML = document.getElementById("txtamtPremium").value;
      document.getElementById("amtEnterprise").innerHTML = document.getElementById("txtamtEnterprise").value;
    }
    else {
      document.getElementById("ngn").style.backgroundColor = "#F0F0F0";
      document.getElementById("usd").style.backgroundColor = "#303D4B";
      document.getElementById("ngn").style.color = "#000000";
      document.getElementById("usd").style.color = "#FFFFFF";

      document.getElementById("currentCurrency").value = "USD";
      document.getElementById("currencySignPlan").innerHTML = document.getElementById("currentCurrency").value;
      document.getElementById("currencySignTotal").innerHTML = document.getElementById("currentCurrency").value;
      Get_PlanAmount();
      Get_Billing();
      document.getElementById("btnPayDollar").style.display = "block";
      document.getElementById("btnPayNGN").style.display = "none";

      document.getElementById("currencySignPay").innerHTML = "USD";
      document.getElementById("amtStandard").innerHTML = document.getElementById("txtdollarStandard").value;
      document.getElementById("amtPremium").innerHTML = document.getElementById("txtdollarPremium").value;
      document.getElementById("amtEnterprise").innerHTML = document.getElementById("txtdollarEnterprise").value;
    }
  }
</script>

<script>
  $(document).ready(function () {
    document.getElementById("ngn").style.backgroundColor = "#303D4B";
    document.getElementById("ngn").style.color = "#FFFFFF";
  });
</script>

<!-- Replace "test" with your own sandbox Business account app client ID -->
<!-- Set up a container element for the button -->
<!--Sandbox account-->
@*<script src="https://www.paypal.com/sdk/js?client-id=AceNyVWdhFe--qc7zDGTiJbEL37w8bp0dwVy6e2vY12ioKyaSExTDQ5yVmvAXDSScqiRIY1Pj52zgzsl&currency=USD"></script>*@

<!--Live account-->
<script src="https://www.paypal.com/sdk/js?client-id=Addb0mmwTUpupIW35SCNGJS4_-ejuJ5_Nsy2vI8Ep3X5Py5lFEVDIrUiDRP22QFB_TUwmWE6QEjRRfGP&currency=USD"></script>
<!-- Set up a container element for the button -->

<script>
  //PAYPAL
  //document.getElementById("totalDollar").value
  paypal.Buttons({
    createOrder: function (data, actions) {
      // Set up the transaction details
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: document.getElementById("totalDollar").value
          }
        }]
      });
    },
    onApprove: function (data, actions) {
      // Capture the payment
      return actions.order.capture().then(function (details) {
        // Show a success message to the customer
        //alert('Transaction completed by successfully ' + details.payer.name.given_name + '!');
        Swal.fire({
          position: 'top-end',
          /*icon: 'success',*/
          title: 'Transaction completed successfully',
          showConfirmButton: false,
          timer: 1800,
          padding: '0em',
          width: '600px',
          height: '8px',

        })
        var _planID = document.getElementById("plan").value;
        var _BillingID = document.getElementById("billing").value;
        //var reference = '' + Math.floor((Math.random() * 1000000000) + 1);
        var reference = details.payer.payer_id;
        var userid = document.getElementById("userid").value;
        //update payment status
        var url = "/Users/Update_Payment_Company_Plan/";
        $.ajax({
          url: url,
          /*data: { refno: response.reference, amount: myamt, planid: _planID, billingid: _BillingID, extraperiod: _extraperiod, discountpercentage: _discountpercentage, extrabonusamount: _extrabonusamount, expectedamount: _expectedamount, extrabonuspercentage: _extrabonuspercentage, discountamount: _discountamount },*/
          data: { refno: reference, amount: document.getElementById("totalDollar").value*100, planid: _planID, billingid: _BillingID },
          cache: false,
          type: "POST",
        })
        window.location.href = "/Users/AccountUpgrade/?id=" + userid + "&ug=true";

      });
    }
  }).render('#paypal-button-container');
</script>


@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
